* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    height: 100vh;
    background-color: #b0b0b0;
}

canvas {
    margin: 0!important;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.header {
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
}

.header-hidden {
    background-color: black;
}
